body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(to bottom,#a8ff78 0%,#78ffd6 100%);
}

ul li {
  color: #004d26;
  margin-top: 30px;
  font-size: 20px;
  
}

ul li:hover {
    color: #007f3d;
}


.logo-site {
  text-align: start;
  background: linear-gradient(to bottom,#a8ff78 0%,#78ffd6 100%);
  letter-spacing: 5px;
  height: 150px;
  padding-top: 0vh;
  color: midnightblue;         
}

h1 {
  color: #004d26;
  margin-top: 30px;
  font-size: 42px;
}

.produtos {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  padding: 40px 20px;
}

.produto {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 20px;
  width: 220px;
  text-align: center;
  height: 320px;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.produto:hover {
  transform: translateY(-5px);
}

.produto img {
  width: 120px;
  height: auto;
  margin-bottom: 15px;
}

.produto h3 {
  font-size: 20px;
  color: #004d26;
  margin-bottom: 15px;
}

button {
  background-color: #004d26;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #007f3d;
}